thead{
    color: #ffffff;
    background-color: red;

}

.kappa{
    font-weight: bold;
    text-transform: uppercase;
    border-right: solid black 1px;
}

caption{
    text-transform: uppercase;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #8699A4;
}
table{
    border: solid black 1px;
    border-collapse: collapse;

}
